### POSTGRES ##############################################

POSTGRES_DB=default
POSTGRES_USER=default
POSTGRES_PASSWORD=secret
POSTGRES_PORT=5432

### REDIS #################################################

REDIS_PORT=6379
REDIS_PASSWORD=secret_redis

### MINIO #################################################

MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=default_minio
MINIO_ROOT_PASSWORD=default_minio